@charset "utf-8";
/* CSS Document */

label {
	font-weight: bold;
}

form {
	width: 300px;
	margin: 20px 0;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 15px;
}

input {
	padding: 5px;
}

button {
	padding: 5px;
	border: 1px grey solid;
}

button, 
button:active, 
button:focus {
    outline: none;
} /* убираем рамку вокруг кнопки в chrome */

#btnRegister {
	width: 100px;
}

#btnLogin {
	width: 50px;
}

.click {
	background-color: grey;
}

.no_click {
	background-color: white;
}

.busy {
	color: red;
}